<!DOCTYPE html>
<html>
    <head>
        {% block head%}

        <title>Rodrigo Reis</title>

        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <header>
            <div class="links">
                <a href="/instructors">Instrutores</a>
                <a href="/members">Members</a>
            </div>
        </header>

    <body>  

        {% block content %}

        {% endblock %}



        <script src="/scripts.js"> </script>
        
        </body>


        <footer>
        </footer>
    </html>    